<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<div id='container'>
    <div id='bot'>
        <h1>Caster_Bot</h1>
        <form method="post" action="/bot" id='botForm'>
            <input class='btn' id='run' type='submit' value='Run' name='run'><br>
            <input class='btn' id='kill' type='submit' value='Kill' name='kill'><br>
        </form>
    </div>
    <div id='match'>
        <h1>Set Match</h1>
        <form method="post" action="/setmatch" id='matchForm'>
            <span id='blue'>Blue Team:</span> <input class='box' type="text" name="blue_team"><br>
            <span id='red'>Red Team:</span> <input class='box' type="text" name="red_team"><br>
            <input class='btn' type="submit" value="Submit">
        </form>

        <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
        <script src="js/index.js"></script>
    </div>
</div>
