@import url('https://fonts.googleapis.com/css?family=Shrikhand');

body {
    background-image: url('/mercy.png');
    font-family: 'Shrikhand', cursive;
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    font-size: 3em;
    margin: 0 auto 1em;
    width: 50%;
    text-align: center;
}
#container {
    display:flex;
    justify-content: space-evenly;
}

.btn {
    height: 4em;
    width: 10em;
    margin: 1em;
    font-family: 'Shrikhand', cursive;
}
.btn:hover{
    cursor: pointer;
}
#run {
    background-color: lightgreen; 
}
#quit {
    background-color: lightcoral; 
}
.blue {
    color: blue;
}
.red {
    color: red;
}
.box{
    width: 100%;
    clear: both;
    margin:.5em;
}
#vs {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.team {
    font-size: 2em;
}